{% extends 'base.html.twig' %}

{% block title %}Nos évènements{% endblock %}

{% block body %}
    <div class="event-background">
        <div class="d-flex justify-content-end search-event mb-4">
            <div>
                <a class="nav-link text-dark" href="{{ path('wild_events') }}">
                    <i class="fas fa-sync-alt mx-2"></i> Réinitialiser la recherche
                </a>
            </div>
            {{ form_start(form) }}
            <div class="d-flex align-items-center mx-2">
                <div class="mx-2">{{ form_widget(form.searchText, {'attr' : {'placeholder': 'Entrer votre ville'}}) }}</div>
                <div class="mx-2">
                    <button class="btn btn-outline-dark">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="container show-events mx-auto">
            <div class="text-justify mb-5">
                <h1>Nos évènements</h1>
            </div>
            {% for event in events %}
                <div class="d-flex my-2 row">
                    <div class="col-lg-4 mx-auto">
                        <img src="/uploads/event/{{ event.eventImageName }}"
                              alt="...">
                    </div>
                    <div class="card-body text-justify col-lg-7 offset-1">
                        <h2>{{ event.name }}</h2>
                        <p>{{ event.description }}</p>
                        <p>Date du show : {{ event.performanceDate|date("m/d/Y") }} <br>
                           Lieu du show : {{ event.town }} {{ event.country }}
                        </p>
                        <div>
                            <table class="p-2">
                                <thead>
                                    <tr>
                                        <th>Tarif : </th>
                                        <th>Prix : </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for price in event.prices %}
                                    <tr>
                                        <td>{{ price.name }}</td>
                                        <td>{{ price.amount }} euros</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="pagination d-flex justify-content-center">
            {{ knp_pagination_render(events) }}
        </div>
    </div>
{% endblock %}
