{% extends 'base.html.twig' %}

{% block title %}Liste des performances{% endblock %}

{% block body %}
    <div class="container-fluid mx-0 px-0 py-3 act-index">
        <h1>Liste des performances</h1>
        <table class="table table-responsive table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Créé le</th>
                    <th>Mis à jour le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for act in acts %}
                <tr>
                    <td>{{ act.name }}</td>
                    <td>{{ act.description }}</td>
                    <td>{{ act.createdAt ? act.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ act.updatedAt ? act.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('act_show', {'id': act.id}) }}"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('act_edit', {'id': act.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Il n'y a pas de performance ...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-success" href="{{ path('act_new') }}">Ajouter une performance</a>
        </div>
    </div>
{% endblock %}
