{% extends 'base.html.twig' %}

{% block title %}Act{% endblock %}

{% block body %}
<div class="container act-show">
    <h1>Performance</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ act.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ act.description }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ act.createdAt ? act.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ act.updatedAt ? act.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <a class="btn btn-outline-success" href="{{ path('act_index') }}">Revenir à la liste</a>
        <a class="btn btn-outline-success" href="{{ path('act_edit', {'id': act.id}) }}">Editer</a>
        {{ include('act/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
